  </main>

  <footer class="mt-5 bg-light py-3"  
   style="background: linear-gradient(90deg, #6f42c1, #d63384)"
>
    <div class="container text-center">
      <p class="mb-0 text-white">© <%= new Date().getFullYear() %> PerfumeHub</p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
